@{
    ViewBag.Title = "Registration Completed";
  
    Layout = "~/Views/Shared/_IndexLayout.cshtml";

}

<div class="banner">
<div class="cont-main">
  <h1>Registration Completed</h1>
  <div class="cont">
    <p>
       Congratulations!<br />
        You have completed the registration process. <br />
        Please log in with your username and password<br />
         
  </div>

</div>
    </div>