@{
    ViewBag.Title = "Registration Error";
}


<div class="banner">
<div class="cont-main">
  <h1>Registration Error</h1>
  <div class="cont">
    <p>
       There was an error confirming your email. Please try again.</p>
         
  </div>

</div>
    </div>