
@{
    ViewBag.Title = "EmailConfirmation";

    string Name = ViewBag.Name;
    //Layout = "~/Views/Shared/_IndexLayout.cshtml";
}




<div class="banner">
<div class="cont-main">
  <h1>Email Confirmation</h1>
  <div class="cont">
    <p>Hello @Name<br />
        Thank you for signing up!<br />

       To complete the sign up process look for an email in your inbox that provides further instructions.
    </p>
  </div>

</div>
    </div>
