@{
    ViewBag.Title = "Press";
}
@{
    if (Request.IsAuthenticated)
    {
     Layout = "~/Views/Shared/_Layout.cshtml";
    }
    
    else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
<div class="cont-main">
  <h1>Press Release</h1>
  <div class="cont">
    <p>Yet to be released</div>

</div>

