@{
    ViewBag.Title = "Reviews";
}
@{
    if (Request.IsAuthenticated)
    {
     Layout = "~/Views/Shared/_Layout.cshtml";
    }
    
    else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
<div class="cont-main">
  <h1>Reviews</h1>
  <div class="cont">
      <p>
   Tell us how we are doing. Your kind words will find a place here. 
          </p>
  </div>

</div>

